a, a:visited {
    color: #dd8800;
    text-decoration: none;
}

div.companyContainer {
    display: flex;
    flex-direction: column;
    border: #dd8800 1px solid;
    margin-bottom: 20px;
}

div.companyContainer header {
    padding: 8px;
    font-size: 1.2em;
    background-color: #dd8800;
    color: #022140;
    user-select: none;
    cursor: pointer;
}

div.companyContent {
    padding: 5px;
}

div.companyText {
    padding: 5px;
    font-size: .9em;
}

div.taskContainer {
    border-top: #dd8800 1px dashed;
    margin-top: 3px;
    margin-bottom: 15px;
}

div.taskContainer header {
    padding: 5px;
}

div.taskContainer header img {
    height: 1.2em;
}

div.techsContainer{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.techContainer {
    border-left: #265077 1px dashed;
    border-right: #265077 1px dashed;
    padding-right: 10px;
    padding-left: 10px;
}

span.techTitle {
    color: #dd8800;
}