<p>Working as a developer...full of goodies:</p>

<work-company [company]="company" *ngFor="let company of companies"></work-company>
<!-- <ul ng-controller="workController as vm" class="noBulletList">
        <li ng-repeat="company in vm.companies">
            <h3>
                <url href="{{company.link}}" text="{{company.name}}"></url>
            </h3>
            {{company.text}}
            <ul>
                <li ng-repeat="task in company.tasks">
                    <p bind-html-compile="task.text"></p>
                    <ul>
                        <li ng-repeat="item in task.techs">
                            <dev-item item="item"></dev-item>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
     -->
<p>Maybe I'm easy going and get excited about the new easily but I absolutely love the company I'm woking in. I would consider
    a change? Who knows? I'm surely not thinking about it. There are, sometimes, irrecusable offers, whatever that might
    mean in that moment. My
    <a href="https://www.linkedin.com/in/bigsby/">LinkedIn Profile</a> has a little more info.</p>