<header>
    <div class="container">
        <img class="avatar" src="/assets/avatar.png" />
        <span class="title">Bigsby - a developer</span>
    </div>
</header>

<section class="sectionsContainer">
    <app-section title="Hello!">
        <p>
            My name is Bruno. I'm a developer. I'm a portuguese living in Dublin, Republic of Ireland. IT-wise, I try everything I get my hands on, at least once, and, if I see purpose in it, I stick with it.
        </p>
    </app-section>
    <app-section title="Bio">
        <p>
            I've been working as a developer since 2007. Before that, I worked as an accountant and, before that, I worked in a call-centre while studying music "in the form of Jazz". When working as an accountant, that, although very respectful trade, is clearly
            not for me, I started the journey of becoming a developer. After a little under a year of self-studying nights, I figured I was good enough to make a living as a developer and have been having (mostly) loads of fun ever since.
        </p>
    </app-section>
    <app-section title="A developer"></app-section>
    <app-section title="Work"></app-section>
    <app-section title="Pet Projects"></app-section>
    <app-section title="Other lives..."></app-section>
    <app-section title="Contact Me"></app-section>
</section>
<footer>
    <span>&copy; Bigsby</span>
</footer>