<header>
    <div class="container">
        <img class="avatar" src="/assets/avatar.png" />
        <span class="title">Bigsby - a developer</span>
    </div>
</header>

<section class="sectionsContainer">
    <app-section name="Hello!">
        <p>
            My name is Bruno. I'm a developer. I'm a portuguese living in Dublin, Republic of Ireland. IT-wise, I try everything I get
            my hands on, at least once, and, if I see purpose in it, I stick with it.
        </p>
    </app-section>
    <app-section name="Bio">
        <p>
            I've been working as a developer since 2007. Before that, I worked as an accountant and, before that, I worked in a call-centre
            while studying music "in the form of Jazz". When working as an accountant, that, although very respectful trade,
            is clearly not for me, I started the journey of becoming a developer. After a little under a year of self-studying
            nights, I figured I was good enough to make a living as a developer and have been having (mostly) loads of fun
            ever since.
        </p>
    </app-section>
    <app-section name="A developer">
        <development-section></development-section>
    </app-section>
    <app-section name="Work">
        <work-section></work-section>
    </app-section>
    <app-section name="Pet Projects">
        <pet-section></pet-section>
    </app-section>
    <app-section name="Other lives...">
        <p>There is way more fun in live than programming...or course.</p>
        <ul>
            <li>
                <u>Family</u>,
                <u>children</u> (two of them) and
                <u>friends</u> make sense out of everything...I am a people's person and, in that sense, I'm, truly, a fortunate
                one.
            </li>
            <li>
                <u>Music</u>. Having met my wife in a Jazz school says much of how music is such an important part in my life.
                It's therapeutical. I've played the guitar from around 10 years-old and fell for the trombone when studying
                jazz. I'm currently playing in
                <a href="http://downtownbigband.com">Downtown Big Band</a>. How fun it is being in the middle of the noise. Recently, I joined
                <a href="https://songsinthekeyofd.com/">Songs In The Key Of D</a> choir to exercise another of my musical loves.
            </li>
            <li>
                <u>Sports</u>. There is virtually no sport, mainly team ones, I'll refuse an invitation to play. As a spectator,
                I follow, more or less close, too many to mention, but Rugby is
                <em>The Team Sport</em>. COYBG!
            </li>
        </ul>
    </app-section>
    <app-section name="Contact Me">
        <p>If you feel like contacting me, for any reason, email
            <a href="mailto:&#098;&#105;&#103;&#115;&#098;&#121;&#064;&#108;&#105;&#118;&#101;&#046;&#099;&#111;&#109;">&#098;&#105;&#103;&#115;&#098;&#121;&#064;&#108;&#105;&#118;&#101;&#046;&#099;&#111;&#109;</a>.
        </p>
        <p>If you need, for any unfortunate reason, my formal CV, you can get it
            <a href="assets/CV_BrunoBernardo.docx">here</a>. I don't promise it is always super up-to-date.</p>
    </app-section>
</section>
<footer>
    <span>&copy; Bigsby</span>
</footer>