<p>
    A developers life is one of constant learning and sharing. To live the former, I'm constantly "working" on pet projects,
    usually, to try out some new technology, to try out some old technology I missed in my previous discoveries or just because
    it's fun. It took me some time but, eventually, I created an account on
    <a hfer="https://github.com/">GitHub</a> and I've been
    <a href="https://github.com/bigsby">sharing my endeavours on it</a>. Here is a list of the ones I think are, somewhat, interesting:
</p>
<div class="petProjectsContainer">
    <pet-project [project]="project" *ngFor="let project of petProjects"></pet-project>
</div>
<!-- <ul ng-controller="petController as vm">
    <li ng-repeat="project in vm.projects">
        <url href="{{project.link}}" text="{{project.name}}"></url> -
        <span bind-html-compile="project.text"></span>
    </li>
</ul> -->