a, a:visited {
    color: #d38000;
    text-decoration: none;
}

div.petProjectContainer {
    display: flex;
    flex-direction: column;
    border: #dd8800 1px solid;
    margin-bottom: 20px;
}

div.petProjectContainer header {
    padding: 8px;
    font-size: 1.2em;
    background-color: #dd8800;
    color: #022140;
    user-select: none;
    cursor: pointer;
}

div.projectContent {
    padding: 5px;
}