<p>
    I started studying sometime in 2006 and, then, I asked the same question I do today: What's next? At the time, .Net 3.0 (WPF,
    WCF and WWF) and Visual Studio 2008 were in beta and, so, I went for it. Since then, I've worked professionally or, at
    least, used to knowledgeabe level tons of techonolgies, languages, protocols, softwares and friends, such as...
</p>

<div class="categoryContainer">
    <development-category [category]="category" *ngFor="let category of developmentData?.categories"></development-category>
</div>