<p>
    I've been working as a developer since 2007. Before that, I worked as an accountant and, before that, I worked in a call-centre
    while studying music "in the form of Jazz". When working as an accountant, that, although very respectful trade, is clearly
    not for me, I started the journey of becoming a developer. After a little under a year of self-studying nights, I figured
    I was good enough to make a living as a developer and have been having (mostly) loads of fun ever since.
</p>