<p>
    I started studying sometime in 2006 and, then, I asked the same question I do today: What's new?. At the time, .Net 3.0 (WPF,
    WCF and WWF) and Visual Studio 2008 were in beta and, so, I went for it. Since then, I've worked professionally or, at
    least, used to knowledgeabe level tons of techonolgies, languages, protocols, softwares and friends, such as:
</p>
<ul>
    <li>
        <h3>Techonologies</h3>
        <ul>
            <li>
                <h4>Client</h4>
                <ul>
                    <li>
                        <url link="https://msdn.microsoft.com/en-us/library/ms754130(v=vs.110).aspx" text="WPF"></url> - 3.0 to 4.5</li>
                    <li>
                        <url link="https://developer.xamarin.com/guides/xamarin-forms/" text="Xamarin Forms"></url>
                    </li>
                    <li>
                        <url link="https://msdn.microsoft.com/en-us/magazine/dn973012.aspx" text="Windows UAP"></url>
                    </li>
                    <li>
                        <url link="https://angularjs.org/" text="Angular">Angular</url> - JS 1 and 2</li>
                    <li>
                        <url link="https://www.microsoft.com/silverlight/" text="Silverlight"></url> - 1 to 5.</li>
                    <li>
                        <url link="https://msdn.microsoft.com/en-us/library/dd30h2yb(v=vs.110).aspx" text="Windows Forms"></url> - 2.0 to 3.0
                    </li>
                </ul>
            </li>
            <li>
                <h4>Server</h4>
                <ul>
                    <li>
                        <url link="http://www.asp.net/" text="ASP.Net"></url> - from version 1.1 to current, Core; from Web Forms to MVC (1 to 6)
                    </li>
                    <li>
                        <url link="https://nodejs.org/en/" text="NodeJS"></url>
                    </li>
                    <li>
                        <url link="https://azure.microsoft.com/en-gb/?" text="Windows Azure"></url>
                    </li>
                    <li>
                        <url link="https://msdn.microsoft.com/en-us/library/ms731082(v=vs.110).aspx" text="WCF"></url> (Windows Communication Foundation):
                        <ul>
                            <li>Message Interceptors</li>
                            <li>Data Services using
                                <url link="http://www.odata.org/" text="oData"></url>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <url link="https://msdn.microsoft.com/en-ie/data/ef.aspx" text="Entity Framework"></url> - 3.5 to 6
                    </li>
                    <li><url link="http://oauth.net/" text="oAuth"></url> - 1 and 2</li>
                    <li><url link="http://www.iis.net/" text="IIS"></url> - 6.0 t0 10 and Express</li>
                    <li><url link="https://msdn.microsoft.com/en-us/library/d56de412(v=vs.110).aspx" text="Windows Services"></url></li>
                    <li><url link="http://particular.net/nservicebus" text="NServiceBus"></url></li>
                    <li><url link="https://msdn.microsoft.com/en-us/library/ms524929(v=vs.90).aspx" text="Classic ASP"></url></li>
                    <li><url link="https://httpd.apache.org/" text="Apache HTTP Server"></url> with
                        <url link="http://php.ie/" text="PHP"></url>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <h3>Software</h3>
        <ul>
            <li>
                <url link="https://www.visualstudio.com/" text="Visual Studio"></url> - 2003, 2005, 2008, 2010, 2012, 2013, 2015 and Code
            </li>
            <li><url link="https://www.xamarin.com/platform" text="Xamarin Studio"></url></li>
            <li>IIS Manager</li>
            <li>Hyper-V Manager</li>
            <li>VMWare Workstation and Player</li>
            <li>Microsoft Visual Basic</li>
            <li>Microsoft Office - Outlook, Excel and Word, mainly.</li>
            <li><url link="http://www.avid.com/sibelius" text="Sibelius"></a> - 5 to 7</li>
        </ul>
    </li>
    <li>
        <h3>Operating Systems</h3>
        <ul>
            <li>
                Windows
                <ul>
                    <li>PC: XP, Vista, 7, 8, 8.1, 10</li>
                    <li>Server: 2003, 2008, 2008R2</li>
                    <li>Mobile: CE, Mobile, Phone 7, Phone 8, Phone 8.1, 10 Mobile</li>
                </ul>
            </li>
            <li>
                Linux
                <ul>
                    <li>
                        PC: <url link="http://www.ubuntu.com/desktop" text="Ubuntu"></url>,
                        <url link="https://www.debian.org/" text="Debian"></url> and
                        <url link="https://www.raspbian.org/" text="Raspbian"></url> on the
                        <url link="https://www.raspberrypi.org/" text="Raspberry Pi"></url>
                    </li>
                    <li>Server: <url href="https://www.redhat.com/" text="Red Hat"></url> and
                        <url link="http://www.ubuntu.com/server" text="Ubuntu">Ubuntu</url>
                    </li>
                </ul>
            </li>
            <li>Mac OS: 9, X and macOS</li>
        </ul>
    </li>
    <li>
        <h3>Programming Languages</h3>
        <ul>
            <li>C# - 3 to 6</li>
            <li>HTML - many flavours, including 5</li>
            <li><url link="https://www.typescriptlang.org/" text="TypeScript">TypeScript</url></li>
            <li>Javascript, including <url link="https://jquery.com/" text="jQuery"></url></li>
            <li><url link="http://www.json.org/" link="_blank">JSON</url></li>
            <li>XML and SOAP</li>
            <li>CSS - many flavours, including 3, <url link="http://lesscss.org/" text="{less}"></url> and
                <url link="http://sass-lang.com/guide" text="Sass"></url>
            </li>
            <li>C++</li>
            <li>VB.Net</li>
            <li>VBScript</li>
            <li>VB6</li>
            <li>VBA</li>
        </ul>
    </li>
    <li>
        <h3>Miscelaneous</h3>
        <ul>
            <li>
                <h4>Versioning</h4>
                <ul>
                    <li><url link="https://git-scm.com/" text="Git"></url></li>
                    <li><url link="https://www.visualstudio.com/en-us/products/tfs-overview-vs.aspx" text="Team Foundation Server"></url> &amp; <url link="https://msdn.microsoft.com/en-us/library/3h0544kx(v=vs.80).aspx" text="Visual Source Safe"></url></li>
                    <li><url link="https://www.perforce.com/helix#versioning-engine" text="Perforce"></url></li>
                </ul>
            </li>
            <li>
                <h4>Build</h4>
                <ul>
                    <li>Bamboo</li>
                    <li>TFS</li>
                    <li>TeamCity</li>
                    <li>Jenkins</li>
                </ul>
            </li>
            <li>
                <h4>Databases</h4>
                <ul>
                    <li><url link="https://www.microsoft.com/en-us/sql-server/" text="Microsoft SQL Server"></url> - 2000, 2005, 2008, 2012 (Express Editions)</li>
                    <li><url link="https://azure.microsoft.com/en-us/services/documentdb/" text="Azure DocumentDB"></url></li>
                    <li><url link="https://www.mysql.com/" text="MySQL"></url></li>
                    <li><url link="https://www.sqlite.org/" text="SQLite"></url></li>
                    <li><url link="https://www.oracle.com/database/index.html" text="Oracle"></url></li>
                </ul>
            </li>
            <li>
                <h4>Other</h4>
                <ul>
                    <li><url link="http://www.nuget.org/" text="NuGet"></url></li>
                    <li><url link="https://www.npmjs.com/" text="npm"></url>, <url link="https://bower.io/" text="Bower"></url> and <url
                            link="http://gulpjs.com/" text="Gulp"></url></li>
                    <li><url link="https://msdn.microsoft.com/en-us/library/dd393574.aspx" text="MS Build"></url></li>
                    <li><url link="http://nant.sourceforge.net/" text="NAnt"></url></li>
                    <li>UDP, TCP and HTTP handling</li>
                    <li>
                        I'm very, very fond of:
                        <ul>
                            <li>&lt;<url link="https://msdn.microsoft.com/en-us/library/ms172192(v=vs.110).aspx" text="Generics"></url>&gt;</li>
                            <li><url link="https://msdn.microsoft.com/en-us/library/f7ykdhsy(v=vs.110).aspx" text="Reflection and Emit"></url></li>
                            <li><url link="https://msdn.microsoft.com/en-us/library/ms973893.aspx" text="Serialization"></url></li>
                            <li><url link="https://msdn.microsoft.com/en-us/library/xcd8txaw(v=vs.110).aspx" text="Metadata"></url></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>