<p>There is way more fun in live than programming...or course.</p>
<ul>
    <li>
        <u>Family</u>,
        <u>children</u> (two of them) and
        <u>friends</u> make sense out of everything...I am a people's person and, in that sense, I'm, truly, a fortunate one.
    </li>
    <li>
        <u>Music</u>. Having met my wife in a Jazz school says much of how music is such an important part in my life. It's
        therapeutical. I've played the guitar from around 10 years-old and fell for the trombone when studying jazz. I'm
        currently playing in
        <url link="http://downtownbigband.com" text="Downtown Big Band"></url>. How fun it is being in the middle of the noise. Recently, I joined
        <url href="https://songsinthekeyofd.com/"
            text="Songs In The Key Of D"></url> choir to exercise another of my musical loves.
    </li>
    <li>
        <u>Sports</u>. There is virtually no sport, mainly team ones, I'll refuse an invitation to play. As a spectator, I follow,
        more or less close, too many to mention, but Rugby is <em>The Team Sport</em>. COYBG!
    </li>
</ul>