<p>
    A developers life is one of constant learning and sharing. To live the former I'm constantly working on pet projects, usually,
    to try out some new technology, to try out some old technology I missed in my previous learnings or just because it's
    fun. The open source paradigma of today, provides a panoply of ways of sharing knowledge, work and experiences. One of
    the major providers of open source repository is <a href="https://github.com/" target="_blank">GitHub</a> and so
    I, finally, created an account and I've been <a href="https://github.com/bigsby" target="_blank">sharing my endeavours on it</a>.
    Here is a list of the ones I think are, somewhat, interesting:
</p>
<ul>
    <li>
        <a href="https://github.com/Bigsby/Xamarin.Forms.OAuth" target="_blank">Xamarin.Forms.OAuth</a> - A
        <a href="http://www.nuget.org/" target="_blank">Nuget</a> package that provides authentication for
        <a href="https://developer.xamarin.com/guides/xamarin-forms/" target="_blank">Xamarin Forms</a> clients against a
        long list of <a href="http://oauth.net/" target="_blank">OAuth</a> Identity Providers.
    </li>

    <li>
        <a href="https://github.com/Bigsby/2048.net" target="_blank">2048.net</a> - An implementation of
        <a href="http://2048game.com/" target="_blank">2048</a> in
        <a href="https://developer.xamarin.com/guides/xamarin-forms/"
            target="_blank">Xamarin Forms</a> that runs (almost) everywhere (Windows 10, Windows 10 IoT in Raspberry Pi, iOS, Android, Windows
            10 Mobile)
    </li>

    <li>
        <a href="http://netcore.bigsbyspot.org" target="_blank">NetCore</a> - Creating .Net Core applications from scratch
        in Windows (10), Linux (Debian) and Mac OS X (10.11 El Capitan).
    </li>

    <li>
        <a href="http://www.sportingesports.com/" target="_blank">Sporting CP eSports</a> - Dynamic website with
        <a href="https://angularjs.org/" target="_blank">AngularJS</a> where almost everything is generic and dynamic.
    </li>

    <li>
        <a href="http://presenter.bigsbyspot.org">Generic Presenter</a> - A little web-based presenter that, though simple
        configuration, allows for slide-based presentations in multiple screens with notes.
    </li>

    <li>
        <a href="http://langs.bigsbyspot.org">Hello Languages</a> - Trying multiple programming languages.
    </li>
</ul>