<p>
    A developers life is one of constant learning and sharing. To live the former, I'm constantly "working" on pet projects,
    usually, to try out some new technology, to try out some old technology I missed in my previous discoveries or just because
    it's fun. It took me some time but, eventually, I created an account on
    <url text="GitHub" link="https://github.com/"></url> and I've been
    <url link="https://github.com/bigsby" text="sharing my endeavours on it"></url>. Here is a list of the ones I think are, somewhat, interesting:
</p>
<ul>
    <li>
        <url link="https://github.com/Bigsby/Xamarin.Forms.OAuth" text="Xamarin.Forms.OAuth"></url> - A
        <url link="http://www.nuget.org/" text="Nuget"></url> package that provides authentication for
        <url link="https://developer.xamarin.com/guides/xamarin-forms/" text="Xamarin Forms"></url> applications against a long list of
        <url link="http://oauth.net/" text="OAuth"></url> Identity Providers.
    </li>

    <li>
        <url link="https://github.com/Bigsby/2048.net" text="2048.net"></url> - An implementation of
        <url link="http://2048game.com/" text="2048"></url> game in
        <url link="https://developer.xamarin.com/guides/xamarin-forms/" text="Xamarin Forms"></url> that runs (almost) everywhere (Windows 10, Windows 10 IoT in Raspberry Pi, iOS, Android, Windows 10 Mobile)
    </li>

    <li>
        <url link="http://netcore.bigsbyspot.org" text="NetCore"></url> - A tutorial on how to create .Net Core console and web applications from scratch in and that run on Windows
        (10), Linux (Debian) and Mac OS X (10.11 El Capitan).
    </li>

    <li>
        <url link="http://www.sportingesports.com/" text="Sporting CP eSports"></url> - Dynamic website with
        <url link="https://angularjs.org/" text="AngularJS"></url> where almost everything is generic and dynamic.
    </li>

    <li>
        <url link="http://presenter.bigsbyspot.org" text="Generic Presenter"></url> - A web-based presenter that, through simple configuration, allows for slide-based presentations in multiple
        screens with notes.
    </li>

    <li>
        <url link="http://langs.bigsbyspot.org" text="Hello Languages"></url> - Trying out and comparing multiple programming languages.
    </li>
    <li>
        <url link="http://matrix.bigsbyspot.org/" text="Summing Matrices"></url> - Solving an old mathematical problem in a computer program implemented in various programming languages.
    </li>
</ul>