<p>Working as a developer...full of goodies:</p>
<ul class="noBulletList">
    <li>
        <h3>
            <url link="http://www.ambisig.com" text="AMBISIG"></url>
        </h3>
        My first job as a developer...the memories. In the, a bit over a, year and a half there I:
        <ul>
            <li>
                <p>
                    Worked in the implementation and maintenance of a solution for public services to manage their public money following the
                    "strict" portuguese public money laws. Working with:
                </p>
                <ul>
                    <li>Asp.Net 2.0</li>
                    <li>
                        <url link="http://www.telerik.com/products/aspnet-ajax.aspx" text="Telerik Asp.Net RadControls suit"></url>
                    </li>
                    <li>MS SQL 2005</li>
                    <li>
                        <url link="http://www.sap.com/solution/sme/software/analytics/crystal-bi/index.html" text="Crystal Reports"></url>
                    </li>
                </ul>
            </li>
            <li>
                <p>Maintained a solution for municipalities to handle and charge water using:</p>
                <ul>
                    <li>Asp.Net 1.1</li>
                    <li>MS SQL 2000</li>
                </ul>
            </li>
            <li>
                <p>
                    R&amp;Ded alternatives for 3D visualization of
                    <url link="https://en.wikipedia.org/wiki/Geographic_information_system" text="GIS"></url> solutions in:
                    <ul>
                        <li>
                            <url link="https://msdn.microsoft.com/en-us/library/ms754130(v=vs.110).aspx" text="WPF"></url>
                        </li>
                        <li>
                            <url link="https://www.microsoft.com/silverlight/" text="Silverlight"></url>
                        </li>
                    </ul>
            </li>
            <li>
                Documented the principles of a new framework to be implement in .Net over which all company solutions would be implemented.
            </li>
        </ul>
    </li>

    <li>
        <h3>
            <url link="http://www.helponbiz.com" text="Helponbiz"></url>
        </h3>
        What a great company to work with, great people. There I:
        <ul>
            <li>
                <p>Did maintenance on legacy solutions in:</p>
                <ul>
                    <li>
                        <url text="Classic ASP" link="https://msdn.microsoft.com/en-us/library/aa286483.aspx"></url>
                    </li>
                    <li>VB Script</li>
                    <li>Javascript</li>
                </ul>
            </li>
            <li>
                <p>
                    Conceptualized, architectured and implemented a generic and configurable
                    <url link="https://en.wikipedia.org/wiki/Business_process_management" text="BPM"></url> solution using:
                </p>
                <ul>
                    <li>Self-hosted
                        <url link="https://msdn.microsoft.com/en-us/library/system.net.httplistener(v=vs.110).aspx" text="HttpListener"></url> server.</li>
                    <li>
                        Dynamically generated from cofiguration <em>OData</em> end-points with
                        <url link="https://msdn.microsoft.com/en-us/library/cc668794(v=vs.110).aspx" text="WCF Data Services"></url> using
                        <url link="https://msdn.microsoft.com/en-us/library/microsoft.csharp.csharpcodeprovider(v=vs.85).aspx" text="CSharpCodeProvider"></url>
                    </li>
                    <li>Dynamically generated client side templates using
                        <url link="https://www.sencha.com/" text="Sencha"></url>.</li>
                </ul>
            </li>
        </ul>
    </li>

    <li>
        <h3>
            <url link="https://www.eschergroup.com/" text="Escher Group"></url>
        </h3>
        Oh! brave new world! My first job in Ireland, and for a multinational corporation and world leading company. What a learning
        experience. There I:
        <ul>
            <li>
                <p>
                    Architectured and implemented a system to integrate in the company's proprietary solution
                    <url link="https://www.eschergroup.com/products/track-and-trace/" text="track and tracing"></url> of postal packages following
                    <url link="http://www.upu.int/en/activities/standards/upu-technical-standards.html" text="UPU Standards"></url> using:
                </p>
                <ul>
                    <li>.Net 3.5</li>
                    <li>
                        <url link="http://www.asp.net/mvc/mvc4" text="Asp.Net MVC 4"></url>
                    </li>
                    <li>The company's amazing proprietary message system</li>
                    <li>
                        <url link="https://msdn.microsoft.com/en-us/library/system.reflection(v=vs.110).aspx" text="Reflection"></url> to serialize and deserialize from the messaging system format which is, by far, the best serialization
                        I found to the day called <i>AGString</i> (coming from
                        <url link="https://en.wikipedia.org/wiki/Attribute_grammar" text="Attribute Grammar"></url>).
                    </li>
                </ul>
            </li>
            <li>
                <p>Maintained the existing solution working in:</p>
                <ul>
                    <li>VB6</li>
                    <li>C++</li>
                    <li>
                        <url link="http://www.cashierpro.com/" text="CashierPro"></url>
                    </li>
                    <li>.Net 3.5</li>
                    <li>...and couple of internal proprietary languages and tools.</li>
                </ul>
            </li>
            <li>
                <p>
                    R&amp;Ded, PoCed, conceptualized, architectured and implemented a new solution for a strongly-typed, generic, cross-platform
                    workflow handling (yes, another BMP) that works in:
                </p>
                <ul>
                    <li>Windows: PocketPC, CE, Mobile 5+, Embedded, 7+, Phone 8+, 10 and 10 Mobile (UAP and WPF)</li>
                    <li>Android</li>
                    <li>iOS</li>
                </ul>
                <p>Using:</p>
                <ul>
                    <li>.Net 3.5</li>
                    <li>WPF</li>
                    <li>
                        <url link="http://www.resco.net/mobileformstoolkit/" text="Resco MobileForms Toolkit"></url>
                    </li>
                    <li>
                        <url link="https://en.wikipedia.org/wiki/Dependency_injection" text="DI"></url> and
                        <url link="https://en.wikipedia.org/wiki/Inversion_of_control" text="IoC"></url>
                    </li>
                    <li>
                        <url link="https://msdn.microsoft.com/en-us/library/gg597391(v=vs.110).aspx" text="PCL">PCL</url>
                    </li>
                    <li>
                        <url link="https://www.xamarin.com/" text="Xamarin iOS, Android and Forms"></url>
                    </li>
                    <li>
                        <url link="http://www.asp.net/mvc/mvc4" text="Asp.Net MVC 4"></url>
                    </li>
                    <li>Self hosted
                        <url link="http://www.nuget.org/" text="NuGet"></url> server</li>
                    <li>
                        <url link="http://nant.sourceforge.net/" text="NAnt"></url> and
                        <url link="https://www.atlassian.com/software/bamboo" text="Bamboo Build Server"></url>
                    </li>
                </ul>
            </li>
        </ul>
    </li>

    <li>
        <h3>
            <url link="http://www.oneviewhealthcare.com/" text="Oneview Healthcare"></url>
        </h3>
        Here am in this very exciting company. So far, I've worked a bit everywhere in the companies solution from back-end to fron-end, client apps, build, setup and integration tools.
        <ul>
            <li>
                <p>Maintained and extended setup, integration and deployment tools using:</p>
                <ul>
                    <li>
                        <url link="http://www.asp.net/mvc/mvc4" text="Asp.Net MVC 4"></url>
                    </li>
                    <li>
                        <url link="http://wixtoolset.org/" text="Wix toolset"></url>
                    </li>
                    <li>
                        <url link="https://msdn.microsoft.com/en-us/library/wea2sca5(v=vs.90).aspx" text="MS Build"></url> scripts</li>
                    <li>
                        <url text="PowerShell" link="https://msdn.microsoft.com/en-us/powershell/mt173057.aspx"></url>
                    </li>
                </ul>
            </li>
            <li>
                <p>Worked in porting the existing backend system to
                    <url text="MicroServices" link="http://microservices.io/patterns/microservices.html"></url>, using:</p>
                <ul>
                    <li>
                        <url link="http://particular.net/nservicebus" text="NServiceBus"></url>
                    </li>
                    <li>
                        <url link="https://msdn.microsoft.com/en-us/library/aa937723(v=vs.113).aspx" text="Entity Framework"></url>
                    </li>
                    <li>
                        <url link="http://www.hl7.org/" text="HL7"></url> message protocol
                    </li>
                    <li>
                        <url link="https://github.com/nunit/nunit" text="NUnit"></url> and
                        <url link="http://dbunit-net.sourceforge.net/GettingStarted.html" text="DbUnit.NET"></url>
                    </li>
                </ul>
            </li>
            <li>
                <p>Maintained and am working on implementing a new architecture (here I go again) to replace the existing WPF
                    application and make it cross-platformable, using:</p>
                <ul>
                    <li>
                        <url link="https://msdn.microsoft.com/en-us/library/gg597391(v=vs.110).aspx" text="PCL"></url>
                    </li>
                    <li>
                        <url link="https://msdn.microsoft.com/en-us/library/ms754130(v=vs.110).aspx" text="WPF"></url>
                    </li>
                    <li>
                        <url link="https://developer.xamarin.com/guides/xamarin-forms/" text="Xamarin Forms"></url> (UWP, iOS and Android)
                    </li>
                    <li>
                        <url text=":Net Standard" link="https://blogs.msdn.microsoft.com/dotnet/2016/09/26/introducing-net-standard/"></url>
                    </li>
                </ul>
            </li>
            <li>
                <p>Started working in the new implementation of the client application for, at least, Android and UWP using:</p>
                <ul>
                    <url link="https://www.xamarin.com/forms" text="Xamarin.Forms"></url>
                </ul>
                <ul>
                    <url link="https://github.com/PrismLibrary/Prism" text="Prims"></url>
                </ul>
                <ul>
                    <url link="https://autofac.org/" text="Autofac"></url>
                </ul>
            </li>
        </ul>
    </li>
</ul>
<p>Maybe I'm easy going and get excited about the new easily but I absolutely love the company I'm woking in. I would consider
    a change? Who knows? I'm surely not thinking about it. There are, sometimes, irrecusable offers, whatever that might
    mean in that moment. My
    <url link="https://www.linkedin.com/in/bigsby/" text="LinkedIn Profile"></url> has a little more info.</p>