<p>Working as a developer...full of goodies:</p>
<ul ng-controller="workController as vm" class="noBulletList">
    <li ng-repeat="company in vm.companies">
        <h3>
            <url href="{{company.link}}" text="{{company.name}}"></url>
        </h3>
        {{company.text}}
        <ul>
            <li ng-repeat="task in company.tasks">
                <p bind-html-compile="task.text"></p>
                <ul>
                    <li ng-repeat="item in task.techs">
                        <dev-item item="item"></dev-item>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
<p>My
    <url link="https://www.linkedin.com/in/bigsby/" text="LinkedIn profile"></url> might have a little more info...not a promise.</p>