footer{
    justify-content: center !important;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition:all linear 2s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:100%;
}

.h3 {
  font-size: 1.17em;
  font-weight: bold;
  color: #995522;
}

.h4 {
  font-weight: bold;
  color: #995522;
}

li.dev-category {
  margin-bottom: 1em;
}